

  <div class="center">
      <h1>Our Journeys!</h1>
      
  </div>

<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>Boulder Shoes</h2>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='../form'">Fill Out Form</button>
     <p>"This event provided us not only the chance to make our own shoes, but learn about entrepreneurship</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Rock Climbing</h2>
      <button  type="button" class="btn btn-secondary" onclick="window.location.href='../form'">Fill out form</button>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Culinary Day</h2>
      <button  type="button" class="btn btn-secondary" onclick="window.location.href='../form'">Fill out form</button>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Welding</h2>
      <button  type="button" class="btn btn-secondary" onclick="window.location.href='../form'">Fill out form</button>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Engineering</h2>
      <button  type="button" class="btn btn-secondary" onclick="window.location.href='../form'">Fill out form</button>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Humanities</h2>
      <button  type="button" class="btn btn-secondary" onclick="window.location.href='../form'">Fill out form</button>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
</div>


