



  <div class="container"> 
       <form action="insert.php" method="post">
          <h3>Journey Reflection</h3>
          <fieldset>
            <input placeholder="The Journey's Name" type="text" id="Journey" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Would You Reccomend to a Friend?" id= "recommend" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="What did you most learn/take away from this?" id="learn" type="url" tabindex="4" required>
          </fieldset>
          <fieldset>
            <textarea placeholder="What would you add or change about this journey?" tabindex="5"  id="change" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
          
        </form>
 </div>
